.root--div{
    padding: 20px;
    padding-left: 250px;
    padding-right: 250px;
}
.input--section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form--btn{
    margin-left: 20px;
}
.todo--data{
    /* background: lightskyblue; */
}
.todo--display--data{
    /* color: #fff; */
    list-style-type: none;
    padding: 20px;
}
textarea{
    padding: 5px;
}
.main-heading, .heading-msg{
    color: #0062cc;
}
.fa-edit{
    font-size:24px;
    color:chartreuse;
    cursor: pointer;
}
.form--btn{
    color: #fff;
    background-color: #0062cc;
    height: 50px;
    width: 100px;
    border: solid 1px #005cbf;
}
.func--btn{
    height: 40px;
    width: 70px;
    color: #fff;
    background-color: #0062cc;
    border: solid 1px #005cbf;
}
.form--text{
    border: solid 1px #000;
}
.completed{
    text-decoration: line-through;
}
.complete-task{
    width: 25px;
    height: 25px;
}
.text{
    background-color: #0062cc;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
}
@media (min-width:500px){
    .root--div {
        padding-left: 150px;
        padding-right: 150px;
    }
}
