.centered{
    text-align: center;
}
button{
    border-radius: 5px;
    cursor: pointer;
}
button:active, button:hover, button.active{
    background-color: #fff;
    color: #0062cc;
}
.fa{
    cursor: pointer;
}